<div>
  <h1><%= category.name %></h1>
  <div>
  <a href="/shop/category/<%= category._id %>/update">Update Category</a>
  <a href="/shop/category/<%= category._id %>/delete">Delete Category</a>
  </div>
  <div class="grid">
    <% items.forEach(item => { %> 
    <div class="card">
      <a href="<%= item.url %>"><%= item.name %></a></p>
      <span class="stock-count">
      <%- include('./partials/stockCount', {item}) %>
      </span>
    </div>
    <% }); %>
  </div>
</div>
