<div class="form-container">
  <script src="/scripts/passwordprompt.js" async></script>
  <h1><%= locals.title ? locals.title : 'Category Form' %></h1>
  <form method="POST" id='protected-form' enctype="multipart/form-data">
    <div>
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" 
      value="<%= locals.category ? locals.category.name : '' %>"/>
    </div>
    <div>
      <label for="description">Description: </label>
      <input type="text" id="description" name="description" 
      value="<%= locals.category ? locals.category.description : '' %>"/>
    </div>
    <div>
    <label for="category-image">Upload Category Photo: </label>
    <input type="file" name="category_image" />
    </div>
    <div class="submit-container">
    <input type="button" id='submit-button' value="<%= locals.buttonText ? locals.buttonText : 'Submit' %>" />
    </div>
  </form>
</div>

  <% if (locals.errors) { %>
   <ul> 
   <% for (let error of locals.errors) { %>
        <li><%= error.msg %></li>
   <% } %>
   </ul> 
  <% } %>
</div>
