<div>
  <h1><%= item.name %></h1>
  <p>Category: <%= item.category.name %></p>
  <p>Price: <%= item.price %> per <%= item.unitOfMeasure %></p>
  <p>Lead Time: <%= item.leadTime %> days</p>
  <p>Safety Stock: <%= item.safetyStock %></p>
  <p>Daily Average Usage: <%= item.dailyAverageUsage %></p>
  <p>Reorder Point: <%= item.reorderPoint %></p>
  <p>Quantity Available <%- include('./partials/stockCount', {item}) %></p>
  <p><%= item.description %></p>

  <p>Do you really want to delete this Item?</p>

  <form method="POST">
    <input
      type="hidden"
      value="<%= item._id %>"
      required="true"
      name="itemId"
    />
    <input type="submit" value="Delete" />
  </form>
</div>
