<div class="wrapper">
<script src="/scripts/passwordprompt.js" async></script>
<div class="form-container">
  <h1><%= locals.title ? locals.title : 'Item Form' %></h1>
  <form method="POST" id="protected-form" enctype="multipart/form-data">
    <div>
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= locals.name ? locals.name : '' %> "
        required
      />
    </div>
    <div>
      <label for="description">Description:</label>
      <input
        type="text"
        id="description"
        name="description"
        value="<%= locals.description ? locals.description : '' %> "
      />
    </div>
    <div>
      <label for="category">Category:</label>
      <select id="category" name="category">
        <% for (let category of categories) { %>
        <option
          value="<%= category._id %>"
          <%= locals.category && locals.category._id.toString() == category._id.toString() ? 'selected' : '' %>
        >
          <%= category.name %>
        </option>
        <% } %>
      </select>
    </div>
    <div>
      <label for="unit-of-measure">Unit of Measure:</label>
      <select
        id="unit-of-measure"
        name="unitOfMeasure"
        value="<%= locals.unitOfMeasure ? locals.unitOfMeasure : 'ea' %>"
      >
      <% const values = ['ea', 'lb'] %>
      <% for (let value of values) { %>
        <option value="<%= value %>" <%= locals.unitOfMeasure && locals.unitOfMeasure === value ? 'selected' : '' %>><%= value %></option>
      <% } %>
      </select>
    </div>
    <div>
      <label for="price">Price: </label>
      <input
        type="text"
        id="price"
        name="price"
        title="Enter a price in decimal format"
        value="<%= locals.price ? locals.price : '' %> "
      />
    </div>
    <div>
      <label for="lead-time">Lead Time (days): </label>
      <input
        type="number"
        id="lead-time"
        name="leadTime"
        min="0"
        required
        value="<%= locals.leadTime ? locals.leadTime : '' %>"
      />
    </div>
    <div>
      <label for="safety-stock">Safety Stock: </label>
      <input
        type="number"
        id="safety-stock"
        name="safetyStock"
        min="0"
        required
        value="<%= locals.safetyStock ? locals.safetyStock : '' %>"
      />
    </div>
    <div>
      <label for="daily-average-usage">Daily Average Usage: </label>
      <input
        type="number"
        id="daily-average-usage"
        name="dailyAverageUsage"
        min="0"
        required
        value="<%= locals.dailyAverageUsage ? locals.dailyAverageUsage : '' %>"
      />
    </div>
    <div>
      <label for="quantity-available">Quantity Available: </label>
      <input
        type="number"
        id="quantity-available"
        name="quantityAvailable"
        min="0"
        required
        value="<%= locals.quantityAvailable ? locals.quantityAvailable : '' %>"
      />
    </div>
    <div>
    <label htmlFor="item_image">Upload Item Photo: </label>
      <input type="file" name="item_image" value="<%= locals.image ? locals.image : '' %>" />
    </div>
    <div class="submit-container">
    <input type="button" id='submit-button' value="<%= locals.buttonText ? locals.buttonText : 'Submit' %>" />

    </div>
  </form>

  <% if (locals.errors) { %> <% for(let error of locals.errors) { %>
  <p><%= error.msg %></p>
  <% } %> <%} %>
</div>
<img class='item-detail-image' src="<%= locals.imageURL ? locals.imageURL : '/images/supplies.png' %>" />
</div>