<div class="form-container">
  <h1>Add new Item</h1>
  <form method="POST">
    <div>
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= locals.item ? locals.item.name : '' %> "
      />
    </div>
    <div>
      <label for="description">Description:</label>
      <input
        type="text"
        id="description"
        name="description"
        value="<%= locals.item ? locals.item.description : '' %> "
      />
    </div>
    <div>
      <label for="category">Category:</label>
      <select id="category" name="category">
        <% for (let category of categories) { %>
        <option value="<%= category._id %>"><%= category.name %></option>
        <% } %>
      </select>
    </div>
    <div>
      <label for="unit-of-measure">Unit of Measure:</label>
      <select
        id="unit-of-measure"
        name="unitOfMeasure"
        value="<%= locals.item ? locals.item.unitOfMeasure : 'ea' %>"
      >
        <option value="ea">ea</option>
        <option value="lb">lb</option>
      </select>
    </div>
    <div>
      <label for="price">Price: </label>
      <input
        type="text"
        id="price"
        name="price"
        title="Enter a price in decimal format"
        value="<%= locals.item ? locals.item.price : '' %> "
      />
    </div>
    <div>
      <label for="lead-time">Lead Time (days): </label>
      <input
        type="number"
        id="lead-time"
        name="leadTime"
        min="0"
        required
        value="<%= locals.item ? locals.item.leadTime : '' %> "
      />
    </div>
    <div>
      <label for="safety-stock">Safety Stock: </label>
      <input
        type="number"
        id="safety-stock"
        name="safetyStock"
        min="0"
        required
        value="<%= locals.item ? locals.item.safetyStock : '' %> "
      />
    </div>
    <div>
      <label for="daily-average-usage">Daily Average Usage: </label>
      <input
        type="number"
        id="daily-average-usage"
        name="dailyAverageUsage"
        min="0"
        required
        value="<%= locals.item ? locals.item.dailyAverageUsage : '' %>"
      />
    </div>
    <div>
      <label for="quantity-available">Quantity Available: </label>
      <input
        type="number"
        id="quantity-available"
        name="quantityAvailable"
        min="0"
        required
        value="<%= locals.item ? locals.item.quantityAvailable : '' %>"
      />
    </div>
    <input type="submit" value="Add Item" />
  </form>

  <% if (locals.errors) { %> <% for(let error of locals.errors) { %>
  <p><%= error.msg %></p>
  <% } %> <%} %>
</div>
